.rotatescreen {
    background-image: url("../images/backgrounds/pt-br/ROTATESCREEN.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.start {
    background-image: url("../images/backgrounds/pt-br/START.png");
    background-color: #008de6;
    background-position: center;
    background-size: contain;    
}

.apresentation {    
    background-image: url("../images/backgrounds/pt-br/APRESENTATION.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.background {
    background-image: url("../images/backgrounds/pt-br/BACKGROUND.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.boardgame {
    background-image: url("../images/backgrounds/pt-br/BOARDGAME.svg");
    background-size: contain;
    background-color: #008de6; 
    background-position: center;    
}

/* QUESTION */

.question0 {
    background-image: url("../images/backgrounds/pt-br/QUESTION0.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.question1 {
    background-image: url("../images/backgrounds/pt-br/QUESTION1.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.question2 {
    background-image: url("../images/backgrounds/pt-br/QUESTION2.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.question3 {
    background-image: url("../images/backgrounds/pt-br/QUESTION3.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.question4 {
    background-image: url("../images/backgrounds/pt-br/QUESTION4.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.question5 {
    background-image: url("../images/backgrounds/pt-br/QUESTION5.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.question6 {
    background-image: url("../images/backgrounds/pt-br/QUESTION6.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.question7 {
    background-image: url("../images/backgrounds/pt-br/QUESTION7.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.question8 {
    background-image: url("../images/backgrounds/pt-br/QUESTION8.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.question9 {
    background-image: url("../images/backgrounds/pt-br/QUESTION9.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.question10 {
    background-image: url("../images/backgrounds/pt-br/QUESTION10.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.question11 {
    background-image: url("../images/backgrounds/pt-br/QUESTION11.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.question12 {
    background-image: url("../images/backgrounds/pt-br/QUESTION12.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.question13 {
    background-image: url("../images/backgrounds/pt-br/QUESTION13.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.question14 {
    background-image: url("../images/backgrounds/pt-br/QUESTION14.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.question15 {
    background-image: url("../images/backgrounds/pt-br/QUESTION15.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.question16 {
    background-image: url("../images/backgrounds/pt-br/QUESTION16.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.question17 {
    background-image: url("../images/backgrounds/pt-br/QUESTION17.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.question18 {
    background-image: url("../images/backgrounds/pt-br/QUESTION18.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.question19 {
    background-image: url("../images/backgrounds/pt-br/QUESTION19.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.question20 {
    background-image: url("../images/backgrounds/pt-br/QUESTION20.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

/* CORRECT ANSWER */

.correctanswer0 {
    background-image: url("../images/backgrounds/pt-br/CORRECTANSWER0.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.correctanswer1 {
    background-image: url("../images/backgrounds/pt-br/CORRECTANSWER1.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.correctanswer2 {
    background-image: url("../images/backgrounds/pt-br/CORRECTANSWER2.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.correctanswer3 {
    background-image: url("../images/backgrounds/pt-br/CORRECTANSWER3.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.correctanswer4 {
    background-image: url("../images/backgrounds/pt-br/CORRECTANSWER4.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.correctanswer5 {
    background-image: url("../images/backgrounds/pt-br/CORRECTANSWER5.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.correctanswer6 {
    background-image: url("../images/backgrounds/pt-br/CORRECTANSWER6.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.correctanswer7 {
    background-image: url("../images/backgrounds/pt-br/CORRECTANSWER7.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.correctanswer8 {
    background-image: url("../images/backgrounds/pt-br/CORRECTANSWER8.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.correctanswer9 {
    background-image: url("../images/backgrounds/pt-br/CORRECTANSWER9.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.correctanswer10 {
    background-image: url("../images/backgrounds/pt-br/CORRECTANSWER10.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.correctanswer11 {
    background-image: url("../images/backgrounds/pt-br/CORRECTANSWER11.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.correctanswer12 {
    background-image: url("../images/backgrounds/pt-br/CORRECTANSWER12.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.correctanswer13 {
    background-image: url("../images/backgrounds/pt-br/CORRECTANSWER13.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.correctanswer14 {
    background-image: url("../images/backgrounds/pt-br/CORRECTANSWER14.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.correctanswer15 {
    background-image: url("../images/backgrounds/pt-br/CORRECTANSWER15.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.correctanswer16 {
    background-image: url("../images/backgrounds/pt-br/CORRECTANSWER16.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.correctanswer17 {
    background-image: url("../images/backgrounds/pt-br/CORRECTANSWER17.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.correctanswer18 {
    background-image: url("../images/backgrounds/pt-br/CORRECTANSWER18.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.correctanswer19 {
    background-image: url("../images/backgrounds/pt-br/CORRECTANSWER19.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.correctanswer20 {
    background-image: url("../images/backgrounds/pt-br/CORRECTANSWER20.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

/* WRONG ANSWER */

.wronganswer0 {
    background-image: url("../images/backgrounds/pt-br/WRONGANSWER0.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.wronganswer1 {
    background-image: url("../images/backgrounds/pt-br/WRONGANSWER1.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.wronganswer2 {
    background-image: url("../images/backgrounds/pt-br/WRONGANSWER2.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.wronganswer3 {
    background-image: url("../images/backgrounds/pt-br/WRONGANSWER3.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.wronganswer4 {
    background-image: url("../images/backgrounds/pt-br/WRONGANSWER4.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.wronganswer5 {
    background-image: url("../images/backgrounds/pt-br/WRONGANSWER5.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.wronganswer6 {
    background-image: url("../images/backgrounds/pt-br/WRONGANSWER6.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.wronganswer7 {
    background-image: url("../images/backgrounds/pt-br/WRONGANSWER7.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.wronganswer8 {
    background-image: url("../images/backgrounds/pt-br/WRONGANSWER8.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.wronganswer9 {
    background-image: url("../images/backgrounds/pt-br/WRONGANSWER9.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.wronganswer10 {
    background-image: url("../images/backgrounds/pt-br/WRONGANSWER10.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.wronganswer11 {
    background-image: url("../images/backgrounds/pt-br/WRONGANSWER11.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.wronganswer12 {
    background-image: url("../images/backgrounds/pt-br/WRONGANSWER12.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.wronganswer13 {
    background-image: url("../images/backgrounds/pt-br/WRONGANSWER13.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.wronganswer14 {
    background-image: url("../images/backgrounds/pt-br/WRONGANSWER14.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.wronganswer15 {
    background-image: url("../images/backgrounds/pt-br/WRONGANSWER15.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.wronganswer16 {
    background-image: url("../images/backgrounds/pt-br/WRONGANSWER16.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.wronganswer17 {
    background-image: url("../images/backgrounds/pt-br/WRONGANSWER17.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.wronganswer18 {
    background-image: url("../images/backgrounds/pt-br/WRONGANSWER18.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.wronganswer19 {
    background-image: url("../images/backgrounds/pt-br/WRONGANSWER19.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

.wronganswer20 {
    background-image: url("../images/backgrounds/pt-br/WRONGANSWER20.svg");
    background-color: #008de6;
    background-position: center;
    background-size: contain;
}

/* TEORIC REFERENCE */

.teoricReference1 {
    background-image: url("../images/backgrounds/pt-br/TEORIC\ REFERENCE\ 1.svg");
    background-size: contain;
    background-color: #008de6;
    background-position: center;
}

.teoricReference2 {
    background-image: url("../images/backgrounds/pt-br/TEORIC\ REFERENCE\ 2.svg");
    background-size: contain;
    background-color: #008de6;
    background-position: center;
}

.teoricReference3 {
    background-image: url("../images/backgrounds/pt-br/TEORIC\ REFERENCE\ 3.svg");
    background-size: contain;
    background-color: #008de6;
    background-position: center;
}

.teoricReference4 {
    background-image: url("../images/backgrounds/pt-br/TEORIC\ REFERENCE\ 4.svg");
    background-size: contain;
    background-color: #008de6;
    background-position: center;
}

.teoricReference5 {
    background-image: url("../images/backgrounds/pt-br/TEORIC\ REFERENCE\ 5.svg");
    background-size: contain;
    background-color: #008de6;
    background-position: center;
}

/*  REFERENCE */

.references1 {
    background-image: url("../images/backgrounds/pt-br/REFERENCES\ 1.svg");
    background-size: contain;
    background-color: #008de6;
    background-position: center;
}

.references2 {
    background-image: url("../images/backgrounds/pt-br/REFERENCES\ 2.svg");
    background-size: contain;
    background-color: #008de6;
    background-position: center;
}

.references3 {
    background-image: url("../images/backgrounds/pt-br/REFERENCES\ 3.svg");
    background-size: contain;
    background-color: #008de6;
    background-position: center;
}

.references4 {
    background-image: url("../images/backgrounds/pt-br/REFERENCES\ 4.svg");
    background-size: contain;
    background-color: #008de6;
    background-position: center;
}

/* CREDITS */

.credits1 {
    background-image: url("../images/backgrounds/pt-br/CREDITS\ 1.png");
    background-size: contain;
    background-color: #008de6;
    background-position: center;
}

.credits2 {
    background-image: url("../images/backgrounds/pt-br/CREDITS\ 2.png");
    background-size: contain;
    background-color: #008de6;
    background-position: center;
}

.credits3 {
    background-image: url("../images/backgrounds/pt-br/CREDITS\ 3.png");
    background-size: contain;
    background-color: #008de6;
    background-position: center;
}

/* RULES */

.rules1 {
    background-image: url("../images/backgrounds/pt-br/RULES\ 1.svg");
    background-size: contain;
    background-color: #008de6;
    background-position: center;
}

.rules2 {
    background-image: url("../images/backgrounds/pt-br/RULES\ 2.svg");
    background-size: contain;
    background-color: #008de6;
    background-position: center;
}

/* WINNER- THE END */

.winner {
    background-image: url("../images/backgrounds/pt-br/WINNER.svg");
    background-size: contain;
    background-color: #008de6;
    background-position: center;
}

.thanks {
    background-image: url("../images/backgrounds/pt-br/THANKS.svg");
    background-size: contain;
    background-color: #008de6;
    background-position: center;
}


